<!-- Page Container -->
<div dir="rtl">
  <header>

    <div class="container">

      <div class="profile">


        <div class="profile-image">

          <img class="w3-card" src="../../assets/imgs/prof-img.jpg" style="width: 150px;" alt="">

        </div>

        <div class="profile-user-settings">

          <h1 class="profile-user-name">{{faceUser.fullName}}</h1>

          <!-- <button class="btn profile-edit-btn">ویرایش</button> -->
          <!-- <button mat-raised-button class="btn profile-edit-btn w3-green w3-padding"
            onclick="document.getElementById('id01').style.display='block'">ویرایش</button> -->

        </div>

        <div class="profile-stats">

          <ul>
            <li> پست ها <span class="profile-stat-count">{{this.posts.length}}</span></li>
            <li> آگهی ها <span class="profile-stat-count">{{this.banners.length}}</span></li>
            <li *ngIf="showFollowing"> دنبال شوندگان <span class="profile-stat-count">{{this.following.length}}</span>
            </li>
          </ul>

        </div>

        <!-- <div class="profile-bio">

          <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit
            📷✈️🏕️</p>

        </div> -->

      </div>
      <!-- End of profile section -->

    </div>
    <!-- End of container -->

  </header>

  <div class="w3-content" style="max-width:1400px;">
    <div class="w3-row">
      <!-- Right Column -->
      <div *ngIf="showFollowing" class="w3-third w3-right">
        <div>
          <div class="w3-container w3-padding">
            <h4 class="w3-right w3-margin-top">دنبال شوندگان</h4>
          </div>
          <ul class="w3-ul w3-border w3-hoverable ">
            <li *ngFor="let item of following" class="w3-padding-16">
              <button mat-button class="w3-left w3-margin-right" (click)="unfollow(item.followerId)">دنبال نکردن</button>
              <span class="w3-large">{{item.followerFullName}</span><br>
                </li>
              </ul>
            </div>
      </div>
      <!-- Left Column -->
      <div class="w3-twothird w3-left">
          <div class="w3-container posts" style="min-height: 260px;">
              <mat-tab-group>
                <mat-tab label="منتشر شده ها">
                  <div *ngFor="let item of posts" class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <!-- <span class="w3-left w3-opacity">1 min</span> -->
                    <p class="w3-left">{{item.timeToRead}} دقیقه , <span class="w3-opacity">{{item.time}}</span></p>
                <div class="w3-container">
                  <h3>{{item.title}}</h3>
                  <p>{{item.authorFullName}}</p><br>
                  <p class="w3-margin-bottom">{{item.shortDescription}}</p>
                  <div class="w3-margin">
                    <img src="{{item.image}}" style="width:100%;height: 500px;"
                      class="w3-margin-bottom w3-round w3-card">
                  </div>

                  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i
                      class="fa fa-eye w3-margin-left"></i>
                    {{item.view}}</button>
                  <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                      class="fa fa-star w3-margin-left"></i>{{item.rank}}</button>
                  <span><button mat-raised-button class="w3-left w3-green w3-border"
                      (click)="getPost(item.id)">بیشتر</button></span>

                </div>
        </div>
        <div class="w3-margin w3-center w3-text-gray" *ngIf="posts.length==0">
          <p>هیچ پستی منتشر نکرده اید.</p>
        </div>
        <hr>
        </mat-tab>
        <mat-tab *ngIf="showFollowing" label="مورد علاقه ها">
          <div *ngFor="let item of fav" class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <!-- <span class="w3-left w3-opacity">1 min</span> -->
            <p class="w3-left">{{item.time}}</p>
            <!-- , <span class="w3-opacity">1398/08/24</span></p> -->
            <h3>{{item.postTitle}}</h3><br>
            <p class="w3-margin-bottom">{{item.postShortDescription}}</p>
            <!-- <img src="../../../assets/imgs/it.jpg" style="width:100%" class="w3-margin-bottom"> -->
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
              <i class="fa fa-eye"></i>
              {{item.postView}}</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                class="fa fa-star w3-margin-left"></i>{{item.postRank}}</button>
            <!-- <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                class="fa fa-comment w3-margin-left"></i>{{item.comments.length}}</button> -->
            <span>
              <button mat-raised-button class="w3-left w3-green w3-border">بیشتر</button>
            </span>
          </div>

          <div class="w3-margin w3-center w3-text-gray" *ngIf="fav.length<1">
            <p>هیچ پست موردعلاقه ای وجود ندارد.</p>
          </div>
          <hr>
        </mat-tab>
        <mat-tab label="آگهی ها">
          <div *ngFor="let item of banners" class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <!-- <span class="w3-left w3-opacity">1 min</span> -->
            <p class="w3-left">{{item.time}}</p>
            <!-- , <span class="w3-opacity">1398/08/24</span></p> -->
            <h3>{{item.postTitle}}</h3><br>
            <p class="w3-margin-bottom">{{item.postShortDescription}}</p>
            <!-- <img src="../../../assets/imgs/it.jpg" style="width:100%" class="w3-margin-bottom"> -->
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
              <i class="fa fa-eye"></i>
              {{item.postView}}</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                class="fa fa-star w3-margin-left"></i>{{item.postRank}}</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                class="fa fa-comment w3-margin-left"></i>{{item.comments.length}}</button>
            <span>
              <button mat-raised-button class="w3-left w3-green w3-border">بیشتر</button>
            </span>
          </div>
          <div class="w3-margin w3-center w3-text-gray" *ngIf="banners.length<1">
            <p>هیچ آگهی منتشر نکرده اید.</p>
          </div>

          <hr>
        </mat-tab>
        </mat-tab-group>
      </div>
    </div>

  </div>





  <!-- End Page Container -->

  <!-- Modal Container -->
  <div id="id01" class="w3-modal" style="padding-top: 8%!important;">
    <div class="w3-modal-content w3-round w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <img src="../../assets/imgs/prof-img.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
      </div>

      <form class="w3-container" [formGroup]="proForm" (ngSubmit)="edit()" style="margin: 0 10%;">
        <div class="w3-section">
          <mat-form-field style="width: 100%">
            <input matInput class="w3-input w3-margin-bottom" placeholder="نام و نام خانوادگی" type="text"
              formControlName="fullName" name="fullName" required>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <input matInput class="w3-input w3-margin-bottom" placeholder="ایمیل" style="width: 100%" type="text"
              formControlName="email" name="email" required>
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <input matInput class="w3-input w3-margin-bottom" placeholder="شماره تماس" style="width: 100%" type="text"
              formControlName="phoneNumber" name="phoneNumber" required>
          </mat-form-field>

          <mat-form-field style="width: 100%;">
            <input matInput class="w3-input w3-margin-bottom" placeholder="تاریخ تولد" style="width: 100%" type="text"
              name="birthday" formControlName="birthday" required>
          </mat-form-field>
          <div>
            <button mat-raised-button class="btns ok-button w3-green w3-animate-right">ثبت</button>
            <button mat-raised-button class="btns cancel-button w3-red w3-animate-left"
              onclick="document.getElementById('id01').style.display='none'">بازگشت</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
