*{
  font-family: vazir;
}
.navbar{
  height:90vh;
}
// .navbar-img {
//   background: url("../../assets/imgs/nav.png")
// }
.center-container{
  height: 100%;
}
.footer-social-top{
  font-size: 36px;
}

.footer-social-bottom{
  font-size: 36px;
  margin-left: 180px;
}
.footer-social-large{
  font-size: 76px;
  padding: 5px;
  margin-left: 110px;
}
