<div class="navbar w3-container w3-white w3-card-4" dir="rtl">
  <div class="w3-container center-container w3-margin">
    <!--<div class="w3-container w3-display-left">
      <span class="footer-social-top">Devision</span><br>
      <span class="footer-social-large">
        By
      </span><br>
      <span class="footer-social-bottom">Zero</span>
    </div>-->
    <div class="w3-cell-row">

      <div class="w3-container w3-cell w3-animate-top">
        <div class="w3-container" style="margin-top: 15%;">
          <p class="w3-jumbo w3-padding">اطلاعاتت رو <br>به اشتراک بزار</p>
          <br>
          <p class="w3-padding">اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار اطلاعاتت رو به اشتراک بزار.</p>
          <p class="w3-padding">اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار اطلاعاتت رو به اشتراک بزار.</p>
          <p class="w3-padding">اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار.اطلاعاتت رو به اشتراک بزار اطلاعاتت رو به اشتراک بزار.</p>

          <button mat-raised-button class="w3-large w3-margin w3-padding" color="primary">شروع کن</button>
        </div>
      </div>

      <div class="w3-container w3-cell">
        <img src="../../assets/imgs/nav.png" class="w3-left w3-animate-left" style="margin-left: -70px; height:70vh;">
      </div>

    </div>
  </div>
<div>
