*{
  font-family: vazir;
}

.login-card{
  margin: 5% 30%;
  min-width: 35%;
  direction: rtl;
  z-index: 100;
  }
  .mat-form-field{
    text-align: right!important;
  }
.example-full-width{
  width: 385px;
  margin: auto;
}
.mat-card-header{
  display: block;
}

.mat-card-actions{
  button{
    width: 40%;
    font-size: 24px;
    padding: 10px;
  }
}

::ng-deep .mat-tab-body{
  height: 50vh;
  padding-top:24px;
  table{
    margin: 45px auto!important;
  }
}
::ng-deep .mat-tab-label{
  min-width: 50%!important;
  font-size: 24px!important;
  height: 76px!important;
}
