<!--<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>-->

<div class="categury w3-container" dir="rtl">
  <div class="cat-list w3-container">
    <mat-list>
      <mat-list-item class="w3-large">زبان های برنامه نویسی</mat-list-item>

        <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>

      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">یادگیری ماشین</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-red w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-red"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>

      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">توسعه وب</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>
      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">علوم کامپیوتر</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>

      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">پایگاه داده</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>

      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">Big Data</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>

      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">فن آوری های مایکروسافت</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>

      <mat-divider></mat-divider>

      <mat-list-item class="w3-large">توسعه برنامه تلفن همراه</mat-list-item>

         <div class="w3-row-padding w3-margin">

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>css3</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-js w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>JavaScript</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-node w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Node</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-php w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Php</b></h3>
              </div>
            </div>
          </div>

          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-python w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Python</b></h3>
              </div>
            </div>
          </div>
                    <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-r-project w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>R</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-react w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>React</b></h3>
              </div>
            </div>
          </div>
          <div class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div class="w3-card w3-padding w3-bottombar w3-border-indigo w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-indigo"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>Monterosso</b></h3>
              </div>
            </div>
          </div>
        </div>
    </mat-list>
  </div>
</div>
