<!--<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 2</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>-->

<div class="categury w3-container" dir="rtl">
  <div class="cat-list w3-container">
    <mat-list>
      <div *ngFor="let item of mainCat">
        <mat-list-item class="w3-large list-item" *ngIf="item.sub.length>0">{{item.name}}</mat-list-item>

        <div class="w3-row-padding w3-margin">

          <div *ngFor="let cat of item.sub" class="w3-col s3 w3-center w3-margin-bottom w3-padding">
            <div matRipple [matRippleColor]="color" (click)="get_blogs(cat.name,cat.id)"
              class="cat w3-card w3-padding w3-white w3-bottombar w3-border-green w3-animate-zoom">
              <i class="fab fa-css3 w3-jumbo w3-text-green"></i>
              <div class="w3-container">
                <h3 class="w3-padding"><b>{{cat.name}}</b></h3>
              </div>
            </div>
          </div>
        </div>

        <mat-divider *ngIf="item.sub.length>0"></mat-divider>
      </div>
    </mat-list>
  </div>
</div>
