<div *ngIf="authId!=null"
  class="w3-content w3-white w3-round w3-container w3-padding-24 w3-card w3-margin-top w3-margin-bottom" id="blog"
  dir="rtl">



  <div class="w3-container w3-white w3-round w3-padding-16"><br>

    <img src="../../../assets/imgs/avatar.png" alt="Avatar" class="w3-right w3-circle w3-margin-left"
      style="width:60px">
    <span class="w3-left">
      <p class="w3-center w3-opacity">{{post.timeToRead}} دقیقه</p>


      <button *ngIf="fackUser.id!=post.authorId && !post.isFollowed" mat-raised-button class="w3-margin-bottom w3-green"
        (click)="follow(post.authorId)">دنبال کردن</button>
    </span>
    <h4>{{post.authorFullName}}</h4>
    <span class="w3-opacity">{{post.time}}</span>
    <!-- <div style="margin-right:6%;">
      <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-eye w3-margin-left"></i>
        {{post.view}}</button>
      <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-star w3-margin-left">
        </i>{{post.rank}}</button>

    </div> -->



  </div>

  <div class="w3-container w3-margin-top w3-margin-bottom w3-padding-16">
    <div class="w3-margin-bottom" (textSelect)="renderRectangles( $event )">
      <h1 class="w3-center w3-padding-32 w3-margin-bottom">{{post.title}}</h1>
      <img src='{{post.image}}' style="width:100%;height:400px" />
      <p class="w3-large w3-margin-top w3-padding" [innerHTML]='post.text'></p>
      <!--
                The host rectangle has to be contained WITHIN the element that has the
                [textSelect] directive because the rectangle will be absolutely
                positioned relative to said element.
            -->
      <div *ngIf="hostRectangle" class="indicator" [style.left.px]="hostRectangle.left"
        [style.top.px]="hostRectangle.top" [style.width.px]="hostRectangle.width" [style.height.px]="0">

        <div class="indicator__cta">
          <!--
                  NOTE: Because we DON'T WANT the selected text to get deselected
                  when we click on the call-to-action, we have to PREVENT THE
                  DEFAULT BEHAVIOR and STOP PROPAGATION on some of the events. The
                  byproduct of this is that the (click) event won't fire. As such,
                  we then have to consume the click-intent by way of the (mouseup)
                  event.
              -->

          <div class="row indicator__cta-link text-center" style="width: 100px;padding:0;">
            <div class="col-md-6 sel w3-padding">
              <a (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); shareSelection()" class="">
                <i class="fa fa-share"></i>
              </a>
            </div>
            <div class="col-md-6 sel w3-padding">
              <a (mousedown)="$event.preventDefault();highlight()"
                (mouseup)="$event.stopPropagation(); shareSelection()" class="">
                <i class="fa fa-paint-brush"></i>
              </a>
            </div>
            <!-- <div class="col-md-3 sel w3-padding">
                  <a
                      (mousedown)="$event.preventDefault()"
                      (mouseup)="$event.stopPropagation(); shareSelection()"
                      class="">
                      <i class="fa fa-telegram"></i>
                  </a>
                </div>
                <div class="col-md-3 sel w3-padding">
                  <a
                      (mousedown)="$event.preventDefault()"
                      (mouseup)="$event.stopPropagation(); shareSelection()"
                      class="">
                      <i class="fa fa-telegram"></i>
                  </a>
                </div> -->
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="tags w3-container w3-margin-top">
      <mat-chip-list>
        <mat-chip *ngFor="let item of post.tags">{{item.name}}#</mat-chip>
      </mat-chip-list>
    </div>
    <hr>

    <div class="w3-container w3-margin-top w3-right">
      <!--<button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
      <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>-->
      <button mat-mini-fab (click)='addToFav(post.id)' class="w3-margin-left w3-green">
        <i class="fa fa-heart"></i>
      </button>
      <!-- <button mat-mini-fab color="warn" class="w3-margin-left">
        <i class="fa fa-thumbs-down"></i>
      </button> -->
      <button mat-mini-fab class="w3-margin-left w3-green" (click)="comments(post.title)">
        <i class="fa fa-comment"></i>
      </button>
      <button mat-mini-fab class="w3-margin-left w3-green" (click)='like(post.id)'>
        <i class="fa fa-thumbs-up"></i>
      </button>
      <button mat-mini-fab class="w3-margin-left w3-green" (click)='sharePost()'>
        <i class="fa fa-share"></i>
      </button>
    </div>

  </div>

</div>




<div class="w3-container" style="width:100%;margin:auto" dir="rtl">
    <div *ngFor="let item of simPosts" class="w3-container w3-third w3-animate-bottom"><br>
      <div class="w3-round w3-card w3-white" style="padding: 32px;">
        <!-- <span class="w3-left w3-opacity">1 min</span> -->
        <p class="w3-left">{{item.timeToRead}}دقیقه, <span class="w3-opacity">{{item.time}}</span></p>
        <div class="w3-container">
          <h3>{{item.title}}</h3>
          <p>{{item.authorFullName}}</p><br>
          <p class="w3-margin-bottom">{{item.shortDescription}}</p>
          <div class="w3-margin">
            <img src="{{item.image}}" style="width:100%;height: 350px;" class="w3-margin-bottom w3-round w3-card">
          </div>

          <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-eye w3-margin-left"></i>
            {{item.view}}</button>
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
              class="fa fa-thumbs-up w3-margin-left" (color)='col'></i>{{item.rank}}</button>
          <span><button mat-raised-button class="w3-left w3-green w3-border"
              (click)="getPost(item.id)">بیشتر</button></span>
        </div>
      </div>

    </div>
  </div>
