<app-nav *ngIf="!loginStatus()"></app-nav>

 <!-- Header -->
 <header class="w3-center">
    <slideshow *ngIf="loginStatus()" [height]="height" [minHeight]="'525px'" [autoPlay]="true" [showArrows]="false" [imageUrls]="imageSources"
      [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
    </slideshow>
  </header>

<div class="w3-content" dir="rtl" style="max-width:1400px">
  <!-- Grid -->
  <div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l10 s10" style="margin:0 5%;">
      <!-- Blog entry -->
      <!-- <div class="w3-card-4 w3-margin w3-white">
    <img src="../../../assets/imgs/it.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>یادگیری ماشین</b></h3>
      <h5>یادگیری عمیق, <span class="w3-opacity">1398/08/24</span></h5>
    </div>

    <div class="w3-container">
      <p>در این آموزش ویدئویی، یکی از محبوب ترین و پرکاربردترین علوم حوزه هوش مصنوعی، یعنی یادگیری عمیق (Deep learning)، معرفی شده است. در این آموزش، علاوه بر آشنایی با مبانی تئوری یادگیری عمیق، تکنیک ها و مدل های مختلف آموزش شبکه های عصبی عمیق، قادر خواهید بود تا در عمل نیز به طراحی، پیاده سازی و آموزش این شبکه ها بپردازید. همچنین در این آموزش به کاربردهای آکادمیک و تحقیقاتی و هم به کاربردهای عملی یادگیری عمیق توجه شده است. در این آموزش، تمرکز بر روی محبوب ترین مدل و کاربرد یادگیری عمیق یعنی مدل شبکه عصبی کانولوشنی با کاربرد در بینایی ماشین و پردازش تصویر خواهد بود.</p>
      <div class="w3-row">
        <div class="w3-col m4 s12" dir="ltr">
          <p><button mat-raised-button class="w3-indigo w3-green w3-border"><b> «  بیشتر</b></button></p>
        </div>
        <div class="w3-col m8 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>نظرها  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr> -->
      <div class="w3-row-padding w3-margin-top">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding-16">
              <span class="w3-margin-left"><i class="fa fa-list w3-margin-left"></i>مرتب سازی بر اساس :</span>
              <mat-radio-group [(ngModel)]="sortBy" aria-label="Select an option">
                <mat-radio-button class="w3-margin-left" value="0" selected (click)="sort(0)">همه</mat-radio-button>
                <mat-radio-button class="w3-margin-left" value="1" (click)="sort(1)">
                  <!-- <i class="fa fa-star w3-margin-left"></i> -->
                  امتیاز
                </mat-radio-button>
                <mat-radio-button class="w3-margin-left" value="2" (click)="sort(2)">
                  <!-- <i class="fa fa-eye w3-margin-left"></i> -->
                  بازدید
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let item of posts" class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <span class="w3-left w3-opacity">1 min</span> -->
        <p class="w3-left">{{item.timeToRead}} دقیقه , <span class="w3-opacity">{{item.time}}</span></p>
        <div class="w3-container">
          <h3>{{item.title}}</h3>
          <p>{{item.authorFullName}}</p><br>
          <p class="w3-margin-bottom">{{item.shortDescription}}</p>
          <div class="w3-margin">
            <img src="{{item.image}}" style="width:100%;height: 500px;" class="w3-margin-bottom w3-round w3-card">
          </div>

          <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-eye w3-margin-left"></i>
            {{item.view}}</button>
          <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
              class="fa fa-star w3-margin-left"></i>{{item.rank}}</button>
          <span><button mat-raised-button class="w3-left w3-green w3-border" (click)="getPost(item.id)">بیشتر</button></span>

        </div>
      </div>
      <!-- END BLOG ENTRIES -->
    </div>


    <!-- END GRID -->
  </div><br>
  <!-- END w3-content -->
</div>
