<mat-toolbar>
  <mat-toolbar-row>
    <a href="/home" class="w3-text w3-margin-left">Division<span class="w3-xxlarge">By</span>Zero</a>


    <div class="action-btns" dir="rtl">
      <img *ngIf="loginStatus()" src="../../assets/imgs/prof-img.jpg" [matMenuTriggerFor]="menu1" (mouseenter)="openMyMenu()"
        class="w3-margin-right w3-margin-left w3-right w3-round-xxlarge" style="width:40px;height:40px;"
        [matMenuTriggerFor]="menu">

      <mat-menu #menu1="matMenu" overlapTrigger="false">
        <span (mouseleave)="closeMyMenu()">
          <button mat-menu-item [routerLink]="['profile']">پروفایل</button>
          <button mat-menu-item [routerLink]="['editor']">پست جدید</button>
          <button mat-menu-item [routerLink]="['login']">خروج</button>
        </span>
      </mat-menu>

      <button mat-button class="btns" [routerLink]="['home']" class="w3-margin-right">صفحه اصلی</button>

      <button mat-button class="btns" [matMenuTriggerFor]="menu">
        آگهی
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['banner-panel']">

          <span>ایجاد آگهی<i class="material-icons"></i></span>
        </button>
        <button mat-menu-item class="btns" [routerLink]="['banners']">
          <span>مشاهده همه آگهی ها</span>
        </button>
      </mat-menu>
      <button mat-button class="btns" [routerLink]="['search']">جستوجو</button>
      <button mat-button class="btns" [routerLink]="['category']">دسته بندی موضوعات</button>
      <button mat-button class="w3-green" [routerLink]="['login']">ورود/ثبت نام</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <p class="w3-center"><img src="../../assets/imgs/prof-img.jpg" class="w3-circle"
              style="height:106px;width:106px" alt="Avatar"></p> -->
