
.action-btns{
    width:100%;
  button{
    float: right;
    font-family: vazir;
  }
}
a{
  text-decoration: none;
  font-size: 24px;
}
.mat-toolbar-row{
  height: 100px;
  background: white;
}
.mat-toolbar{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 120
}
.btns{
  margin: 0 0.2%;
}
