<div class="w3-center" style="margin-top: 5%;">
  <h2>{{catName}}</h2>
</div>
<!-- Page Container -->
<div class="w3-container w3-content" dir="rtl" style="max-width:1800px;margin-top:50px">
  <!-- The Grid -->
  <!-- result of posts -->
  <div class="w3-container" style="width:90%;margin:auto">
      <div *ngFor="let item of posts" class="w3-container w3-half w3-animate-bottom"><br>
        <div class="w3-round w3-card w3-white" style="padding: 32px;">
          <!-- <span class="w3-left w3-opacity">1 min</span> -->
          <p class="w3-left">{{item.timeToRead}}دقیقه, <span class="w3-opacity">{{item.time}}</span></p>
          <div class="w3-container">
            <h3>{{item.title}}</h3>
            <p>{{item.authorFullName}}</p><br>
            <p class="w3-margin-bottom">{{item.shortDescription}}</p>
            <div class="w3-margin">
              <img src="{{item.image}}" style="width:100%;height: 500px;" class="w3-margin-bottom w3-round w3-card">
            </div>

            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-eye w3-margin-left"></i>
              {{item.view}}</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                class="fa fa-star w3-margin-left"></i>{{item.rank}}</button>
            <span><button mat-raised-button class="w3-left w3-green w3-border"
                (click)="getPost(item.id)">بیشتر</button></span>
          </div>
        </div>

      </div>
    </div>

  <!-- End Page Container -->
</div>
