<div class="w3-center" style="margin-top: 5%;">
    <h2>{{cat_name}}</h2>
</div>
<!-- Page Container -->
<div class="w3-container w3-content" dir="rtl" style="max-width:1400px;margin-top:50px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          <h4 class="w3-margin">بهترین نویسندگان</h4>
          <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding w3-margin">
              <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-right w3-margin-left" style="width:50px">
              <span>ali</span><br>
              <span>4.5</span>
            </li>
            <li class="w3-padding w3-margin">
              <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-right w3-margin-left" style="width:50px">
              <span>ali</span><br>
              <span>4.5</span>
            </li>
            <li class="w3-padding w3-margin">
              <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-right w3-margin-left" style="width:50px">
              <span>ali</span><br>
              <span>4.5</span>
            </li>
            <li class="w3-padding w3-margin">
              <img src="../../../assets/imgs/avatar.png" alt="Image" class="w3-right w3-margin-left" style="width:50px">
              <span>ali</span><br>
              <span>4.5</span>
            </li>
          </ul>
        </div>
      </div>
      <br>

      <!-- <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="../../assets/imgs/prof-img.jpg" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br> -->

      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>

      <!-- <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div> -->

      <!-- End Right Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding-16">
              <span class="w3-margin-left"><i class="fa fa-list w3-margin-left"></i>مرتب سازی بر اساس :</span>
              <button class="w3-button w3-green" (click)="test()">همه</button>
              <button class="w3-button"><i class="fa fa-star w3-margin-left"></i>امتیاز</button>
              <button class="w3-button w3-hide-small"><i class="fa fa-thumbs-up w3-margin-left"></i>محبوبیت</button>
            </div>
          </div>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <span class="w3-left w3-opacity">1 min</span> -->
        <p class="w3-left">1 دقیقه, <span class="w3-opacity">1398/08/24</span></p>
        <h3>یادگیری ماشین</h3><br>
        <p>در این آموزش ویدئویی، یکی از محبوب ترین و پرکاربردترین علوم حوزه هوش مصنوعی، یعنی یادگیری عمیق (Deep
          learning)، معرفی شده است. در این آموزش، علاوه بر آشنایی با مبانی تئوری یادگیری عمیق، تکنیک ها و مدل های مختلف
          آموزش شبکه های عصبی عمیق، قادر خواهید بود تا در عمل نیز به طراحی، پیاده سازی و آموزش این شبکه ها بپردازید.
          همچنین در این آموزش به کاربردهای آکادمیک و تحقیقاتی و هم به کاربردهای عملی یادگیری عمیق توجه شده است. در این
          آموزش، تمرکز بر روی محبوب ترین مدل و کاربرد یادگیری عمیق یعنی مدل شبکه عصبی کانولوشنی با کاربرد در بینایی
          ماشین و پردازش تصویر خواهد بود.</p>
        <img src="../../../assets/imgs/it.jpg" style="width:100%" class="w3-margin-bottom">

        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
          100</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
            class="fa fa-star w3-margin-left"></i>4.5</button>
        <span><button mat-raised-button class="w3-left w3-green w3-border">بیشتر</button></span>
      </div>

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <span class="w3-left w3-opacity">1 min</span> -->
        <p class="w3-left">1 دقیقه, <span class="w3-opacity">1398/08/24</span></p>
        <h3>یادگیری ماشین</h3><br>
        <p>در این آموزش ویدئویی، یکی از محبوب ترین و پرکاربردترین علوم حوزه هوش مصنوعی، یعنی یادگیری عمیق (Deep
          learning)، معرفی شده است. در این آموزش، علاوه بر آشنایی با مبانی تئوری یادگیری عمیق، تکنیک ها و مدل های مختلف
          آموزش شبکه های عصبی عمیق، قادر خواهید بود تا در عمل نیز به طراحی، پیاده سازی و آموزش این شبکه ها بپردازید.
          همچنین در این آموزش به کاربردهای آکادمیک و تحقیقاتی و هم به کاربردهای عملی یادگیری عمیق توجه شده است. در این
          آموزش، تمرکز بر روی محبوب ترین مدل و کاربرد یادگیری عمیق یعنی مدل شبکه عصبی کانولوشنی با کاربرد در بینایی
          ماشین و پردازش تصویر خواهد بود.</p>
        <img src="../../../assets/imgs/it.jpg" style="width:100%" class="w3-margin-bottom">

        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
          100</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
            class="fa fa-star w3-margin-left"></i>4.5</button>
        <span><button mat-raised-button class="w3-left w3-green w3-border">بیشتر</button></span>
      </div>

      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m3">
      <!-- Filter -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
          <h4 class="w3-right w3-margin-top">مطالب مرتبط</h4>
          <!-- <a href="#" class="w3-left w3-margin">همه</a> -->
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <h4 class="w3-left w3-margin-right" style="width:50px"><i class="fa fa-star">4.5</i></h4>
            <span class="w3-large">یادگیری ماشین</span><br>
            <span>یادگیری عمیق</span>
          </li>
          <li class="w3-padding-16">
            <h4 class="w3-left w3-margin-right" style="width:50px"><i class="fa fa-star">4.5</i></h4>
            <span class="w3-large">یادگیری ماشین</span><br>
            <span>یادگیری عمیق</span>
          </li>
          <li class="w3-padding-16">
            <h4 class="w3-left w3-margin-right" style="width:50px"><i class="fa fa-star">4.5</i></h4>
            <span class="w3-large">یادگیری ماشین</span><br>
            <span>یادگیری عمیق</span>
          </li>
          <li class="w3-padding-16">
            <h4 class="w3-left w3-margin-right" style="width:50px"><i class="fa fa-star">4.5</i></h4>
            <span class="w3-large">یادگیری ماشین</span><br>
            <span>یادگیری عمیق</span>
          </li>
        </ul>
      </div>
      <hr>

      <!-- Accordion -->
      <!-- <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
              class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
            <div class="w3-row-padding">
              <br>
              <div class="w3-half">
                <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
              <div class="w3-half">
                <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br> -->

      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <h4>تگ های مرتبط</h4>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <!-- <div
        class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div> -->

      <!-- End Left Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
