<div class="w3-container editor" dir="rtl">
  <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()" class="banner-form w3-padding-24">

    <mat-card class="card w3-animate-left">
      <mat-form-field class="banner-full-width w3-margin-bottom w3-margin-top w3-padding ">
        <input matInput formControlName="title" placeholder="عنوان را وارد نمایید..." class="w3-xxlarge">
      </mat-form-field>
    </mat-card>

    <mat-card class="card w3-animate-right">
      <mat-form-field class="banner-full-width banner-full-width w3-margin-bottom w3-margin-top w3-padding">
        <!--<textarea matInput class="sum-txtarea w3-large w3-animate-left" placeholder="خلاصه را وارد نمایید" type="text"></textarea>-->
        <textarea matInput formControlName="sumery" Name="sumery" class="banner-textarea w3-large "
          [placeholder]="'خلاصه را وارد نمایید...'" type="text"></textarea>
      </mat-form-field>
    </mat-card>

    <mat-card class="card w3-animate-left">
      <mat-form-field
        class="banner-full-width banner-full-width w3-margin-bottom w3-margin-top w3-padding w3-animate-left">
        <textarea matInput formControlName="text" class="w3-large banner-textarea" placeholder="متن را وارد نمایید"
          type="text"></textarea>
      </mat-form-field>
    </mat-card>

    <mat-card class="card w3-animate-right">
      <mat-form-field class="example-chip-list  banner-full-width w3-margin-bottom w3-margin-top w3-padding">
        <mat-chip-list #chipList aria-label="Tag">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <span matChipRemove *ngIf="removable">X</span>
          </mat-chip>
          <input class="w3-margin-bottom" placeholder="افزودن تگ" #tagInput FormControl="tagCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card>

    <mat-card>
          <div class="w3-row w3-margin-right">
              <!-- <div class="w3-third">
                  <mat-form-field>
                      <mat-label> آگهی</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
            <div class="w3-third">
                <mat-form-field>
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div> -->
            <div class="w3-third w3-right w3-margin">
                <mat-form-field class="w3-margin-right">
                    <mat-label>نوع آگهی</mat-label>
                    <mat-select formControlName="type">
                      <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
          </div>

    </mat-card>
    <div class="w3-margin" style="width:90%;">
      <button mat-raised-button type="submit" class="w3-green" style="margin:5% 0 4%;">منتشر کن</button>
    </div>
  </form>
</div>
